:root{
  --greydark: rgb(11, 13, 15);
  --greylight:rgb(143, 143, 143);
  --fontcolor:white;
}

body{
  font-family: sans-serif;
  background-color:var(--greylight);
}
.window{
  background-color: var(--greydark);
  color: var(--fontcolor);
  padding:30px;
}
.userInfo{
   color: var(--fontcolor);
}
.contentDescH {
  display: none;
  color:  var(--fontcolor);
  font-size: large;
}
